body {
    background-color: #efeddf;
    font-family: 'Raleway', sans-serif;
}

.well.user-story {
    background-color: #fff9cb;
    border-color: #aaaaaa;
}


.story-adds{
    background-color: #e4e3d5;
}

hr {
    border-top-color:#A9A68F;
    border-bottom-color: #ddd;
}

.nav.pull-center {
    position: absolute;
    left: 50%;
    width: 100px;
    display: block;
    margin-left: -50px;
    padding: 10px 20px 10px;
    text-align: center;
}

.pull-center a {
    color: #777777;
    text-decoration: none;
    font-weight: bold;
}

.centered{
    text-align: center;
}

.align-right{
    text-align: right;
}

.story-comment{
    background-color: #eee;
    color: #333;
    border-color: #ccc;
    margin-top:3px;
    margin-bottom:3px;
    padding: 4px;
    padding-left: 8px;
    max-width: 75%;
}
.dev-comment{

}
.po-comment{
    background-color: #fff9cb;
    color: #444;
    border-color: #ccc;
    margin-left: 25%;
}


.gray-text{
    color:#999;
}
.black-text{
    color:#333;
}

.full-width{
    width: 100%;
}

/** Forms **/
input[type="text"].input-large {
    font-size: 25px;
    height: 45px;
    line-height: 45px;
}
