
<div class="span6">
    <h4><i class="icon-comment"></i> Need your feedback</h4>

    <a href="#">
        <div class="well">
            <p class="text-info pull-right">5 pts<br><span class="badge badge-important"> </span></p>
            <span class="gray-text">#12</span>
            <span class="black-text">ETQ dev j'envoie le rapport quotidien pré-rempli au membres du projets. Le contenu est modificable avant envoi</span>
            </p>
        </div>
    </a>

</div>
