{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': 'home'})) }}

    <div class="row-fluid">
        <div class="span4 well" id="members">
            <h3>Members</h3>
            <ul>
            {% for membership in project.memberships %}
                <li>{{ "%username% as %role%"|replace({ "%username%": membership.user.username, "%role%": membership.role }) }}</li>
            {% else %}
                <li>There is no user yet.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

