{% extends '::base.html.twig' %}

{% block body %}

    <div class="centered">

        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="flash-{{ type }}">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

    </div>

{% endblock %}
